body{
  font: 62.5% "Trebuchet MS", sans-serif;
  margin: 50px;
}
#wrapper{
  width:540px;
  margin:0 auto;
  overflow:hidden;
}
.project {
  margin-bottom: 35px;
}
.project_name {
  height: 40px;
}
.project_name h2 {
  display: inline;
}
.task_add {
  height: 35px;
}
.task_add input[type=text] {
  width: 300px;
}
.task {
  border-bottom: 1px solid #ccc;
  height: 30px;
}
.task_name {
  float: left;
  font-size: 1.3em;
  padding: 9px 10px 2px 10px;
}
.task_edit {
  border-bottom: 0;
  padding-top: 4px;
}
input[type=text] {
  font-size: 1.3em;
}
.right {
  float: right;
}
.left {
  float: left;
}
.icons {
  margin: 0;
  padding: 0;
}
.icons li {
  margin: 2px;
  position: relative;
  padding: 4px 0;
  cursor: pointer;
  float: left;
  list-style: none;
}
.icons span.ui-icon {
  float: left;
  margin: 0 4px;
}
